.inputContainer {
  display: flex;
  height: 6.59856rem;
  width: 326px;
  padding: 0.50756rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.39588rem;
}